<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>快递宝-发件</title>
	<link rel="stylesheet" href="__PUBLIC__/css/weui.min.css">
</head>
<style>
.weui-btn.weui-btn_primary{background-color:#128BDA;width: 90%;margin: 30px auto;}
.center{margin: 30px auto;}
.center p{text-align: center;height: 36px;line-height: 36px;}
</style>
<body>

	<div class="center">
		<p>箱子编号</p>
		<p>3285906457089643</p>
	</div>
	<div class="demos-content-padded">
      <a href="javascript:;" class="weui-btn weui-btn_primary">扫快递单关联收件人信息</a>
    </div>
    <div class="demos-content-padded">
      <a href="javascript:;" class="weui-btn weui-btn_primary">填写关联收件人信息</a>
    </div>
	<script src="__PUBLIC__/js/jquery-2.1.4.js"></script>
	<script src="__PUBLIC__/js/jquery-weui.min.js"></script>
	<script src="__PUBLIC__/js/vue.min.js"></script>
	<script>
	</script>
</body>
</html>