<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>快递宝-客服中心</title>
	<link rel="stylesheet" href="__PUBLIC__/css/weui.min.css">
</head>
<style>.weui-cells{margin-top: 0;}</style>
<body>
	<div class="bd">
		<div class="weui-cells">
		    <a class="weui-cell weui-cell_access" href="{:U('Index/baobei')}">
		        <div class="weui-cell__bd">
		          <p>丢失损坏报备</p>
		        </div>
		        <div class="weui-cell__ft"></div>
		    </a>
		    <a class="weui-cell weui-cell_access" href="javascript:;">
		        <div class="weui-cell__bd">
		          <p>申请调整箱子数量</p>
		        </div>
		        <div class="weui-cell__ft"></div>
		    </a>
		    <a class="weui-cell weui-cell_access" href="javascript:;">
		        <div class="weui-cell__bd">
		          <p>发送紧急配送需求</p>
		        </div>
		        <div class="weui-cell__ft"></div>
		    </a>
		    <a class="weui-cell weui-cell_access" href="javascript:;">
		        <div class="weui-cell__bd">
		          <p>调配请求</p>
		        </div>
		        <div class="weui-cell__ft"></div>
		    </a>
		</div>
	</div>
	<script src="__PUBLIC__/js/jquery-2.1.4.js"></script>
	<script src="__PUBLIC__/js/jquery-weui.min.js"></script>
	<script src="__PUBLIC__/js/vue.min.js"></script>
	<script>
	</script>
</body>
</html>